<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :business_name %>
  <%= f.text_field :description %>
  <%= f.text_field :category %>
  <%= f.text_field :address %>
  <%= f.text_field :phone %>
  <%= f.text_field :payment_method %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
