<div class="opaque-overlay">
  <div class="container">
    <div class="row profile">
    <div class="p-4 col-md-4">          
      <!-- SIDEBAR -->
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <%= image_tag @profile.image.url(:medium), class: "img-responsive" %>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @profile.business_name %>
          </div>
          <div class="profile-usertitle-category">
            <%if @profile.category.nil? %>
              Vazio
            <% else%>
              <%= @profile.category %>
            <%end%>
          </div>
          <div class="profile-usertitle-description">
            <%= @profile.description %>
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-primary btn-sm">Follow</button>
          <button type="button" class="btn btn-secondary btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
      </div>
      <!-- END SIDEBAR -->
      </div>

      <div class="p-4 col-md-8">
        <div class="profile-content">
          <div class="container"> 
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#informacoes" data-toggle="tab">Informações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#cardapio" data-toggle="tab">Cardápio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#promocoes" data-toggle="tab">Promoções</a>
              </li>
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="informacoes">
              <!-- Informações do usuário-->
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                  <img class="img-responsive icon-pfl" src="https://apiki.com/wp-content/uploads/2016/09/criacao-sites-baratos-pagamento-facilitado.png" width="56" height="56">
                </div>
                <div class="col-md-9">
                  <h5>Forma de Pagamento: </h5>
                  <% @profile.payment_methods.each do |payment_method| %>
                    <%= payment_method.name %><br>
                  <% end %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-1">
                  
                </div>
                <div class="col-md-2">
                  <img class="img-responsive icon-pfl" src="https://icon-icons.com/icons2/622/PNG/128/whatsapp-logo_icon-icons.com_57054.png" width="56" height="56">
                </div>
                <div class="col-md-9">
                  <h5>Contato: </h5>
                  <p><%= @profile.phone %></p>
                  <h5>Endereço: </h5>
                  <p><%= @profile.address %></p>
                </div>
              </div>
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="cardapio">
              <!-- Cardápio do usuário-->
              <% @menu.products.each do |product| %>
              <div class="row">
                <div class="col-md-2">
                  <img class="img-responsive icon-pfl" src="https://www.shareicon.net/data/128x128/2015/12/30/695368_food_512x512.png">
                </div>
                <div class="col-md-6">
                  <p><%= product.name %></p>
                </div>
                <div class="col-md-2">
                  <p>R$ <%= product.price %></p>
                </div>
                <div class="col-md-1">
                  <%= link_to edit_product_path(product), class: "btn" do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <% end %>
                </div>
                <div class="col-md-1">
                  <%= link_to product, method: :delete, data: { confirm: 'Tem certeza que deseja excluir o produto?' }, class: "btn" do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
              <hr>
              <% end %>
              
              <% if user_signed_in? and current_user.id == @profile.user.id %>
                <div class="row" style="padding-top: 1rem">
                  <div class="col-md-12">
                    <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/products/new">Cadastrar Novo Produto</a>
                  </div>
                </div>
              <% end %>
            </div>
            
            <div role="tabpanel" class="tab-pane fade" id="promocoes">
              <!-- Promoções do usuário-->
              <div class="row">
                <div class="col-md-3">
                  <img class="img-responsive icon-pfl" src="https://www.shareicon.net/data/128x128/2016/01/11/701813_drink_512x512.png">
                </div>
                <div class="col-md-6">
                  <h4>refrigerante + hamburguer</h4>
                </div>
                <div class="col-md-3">
                  <h4>R$ 5,00</h4>
                </div>
              </div>
              <hr>
              
              <% if user_signed_in? and current_user.id == @profile.user.id %>
                <div class="row" style="padding-top: 1rem">
                  <div class="col-md-12">
                    <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/products/new">Cadastrar Nova Promoção</a>
                  </div>
                </div>
              <% end %>
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FIM - Content -->
