
  <div class="container p-4">
    
    <hgroup class="mb20">
  		<h1 class="text-primary">Resultado da Busca</h1>
  		<h2 class="lead"><strong class="text-danger"><%= @profiles.count%></strong> resultado encontrado(s) para busca por <strong class="text-danger">Lorem</strong></h2>								
  	</hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
      <% if @profiles.count.zero? %>
        Sua busca não retornou resultados.
      <% else %>
      <% @profiles.each do |profile| %>
        <article class="search-result row">
    			<div class="col-xs-12 col-sm-12 col-md-4">
    				<%= image_tag profile.image.url(:thumb), class: "img-responsive" %>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-3">
    				<ul class="meta-search">
    					<li><i class="fa fa-cutlery" aria-hidden="true"></i> <span><%= profile.category %></span></li>
    					<li><i class="fa fa-whatsapp" aria-hidden="true"></i> <span><%= profile.phone %></span></li>
    				</ul>
    			</div>
    			<div class="col-xs-12 col-sm-12 col-md-5 excerpet">
    				<h3><a href="#" title=""><%= profile.business_name %></a></h3>
    				<p><%= profile.description %></p>						
                    <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
    			</div>
    			<span class="clearfix borda"></span>
    			</article>
    			<% end %>
    			<% end %>
    		
    </section>
  </div>

