<%= form_for(@product) do |f| %>
<div class="opaque-overlay">
  <div class="container p-4">
    <div class="container">
      <div class="row setup-content">
        <div class="col-lg-12 well text-center profile"> 
          <div class="profile-content">
            <% if action_name == "new" %>
              <h2 class="text-dark">Adicione um item ao seu cardápio.</h2>
            <% elsif action_name == "edit" %>
              <h2 class="text-dark">Edite o item.</h2>
            <% end %>
            <br>
                  
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="row">
                  <label class="col-md-3 control-label">Nome da Comida:</label>
                  <div class="col-md-9">
                    <%= f.text_field :name, class: "form-control", id: "email", placeholder: "Coxinha de frango com catupiry", autofocus: true %>
                  </div>
                </div>
              </div>
                
              <div class="form-group">
                <div class="row">
                  <label class="col-md-3 control-label">Descrição:</label>
                  <div class="col-md-9">
                      <%= f.text_field :description, class: "form-control", id: "description", placeholder: "Coxinha tamanho médio, recheada com frango e catupiry.", autofocus: true %>
                  </div>
                </div>
              </div>
                
              <div class="form-group">
                <div class="row">
                  <label class="col-md-3 control-label">Preço(R$):</label>
                  <div class="col-md-9">
                      <%= f.text_field :price, value: number_with_precision(f.object.price, precision: 2), class: "form-control", id: "price", placeholder: "2,00", autofocus: true %>
                  </div>
                </div>
              </div>
                  
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md"><i class="fa fa-sign-up "></i>Inserir</button>
                    <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/profiles/<%= current_user.profile.id %>">Voltar</a>
                  </div>
                </div>                    
              </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<!-- Fim: cadastro business -->
<% end %>
